absl-py==1.4.0
asgiref==3.6.0
astor==0.8.1
bleach==1.5.0
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
Django==4.1.6
django-multiforloop==0.3.1
gast==0.5.3
grpcio==1.51.1
gunicorn==20.0.4
html5lib==0.9999999
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.4.1
MarkupSafe==1.1.1
numpy==1.24.1
opencv-python==4.7.0.68
Pillow==9.4.0
protobuf==3.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
requests==2.22.0
rsa==4.0
six==1.13.0
sqlparse==0.4.3
tensorboard==1.8.0
termcolor==2.2.0
tzdata==2022.7
urllib3==1.25.7
Werkzeug==0.16.0
